:root {
    --primary-color: #ee574c;
    --secondary-color: #183b56;
    --text-color: #000;
    --background-gradient-start: #3a1c71;
    --background-gradient-end: #d76d77;
    --table-bg: rgba(89, 0, 255, 0.08);
    --border-color: rgba(255, 255, 255, 0.15);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background: linear-gradient(135deg, var(--background-gradient-start), var(--background-gradient-end)); */
    color: var(--text-color);
    /* padding: 20px; */
}

.container {
    
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid var(--border-color);
    max-width: 700px;
}

/* h1 */
table {
    background: var(--table-bg);
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    table-layout: auto;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background: linear-gradient(60deg, var(--primary-color));
    color: #fff;
}

th {
    padding: 19px 15px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5px;
}

td {
    padding: 15px;
    border-bottom: 1px solid var(--border-color);
    text-align: left;
}

tbody tr {
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.15);
    transform: scale(1.01);
}

tbody tr.selected {
    background-color: var(--secondary-color);
    color: #fff;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, #000);
}

/* RESPONSIVIDAD */
@media (max-width: 768px) {

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin-bottom: 15px;
        border: 1px solid var(--border-color);
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    td {
        border: none;
        position: relative;
        padding-left: 50%;
        text-align: right;
    }

    td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 45%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
        color: var(--primary-color);
    }

    td:nth-of-type(1):before {content: "Sucursal";}
    td:nth-of-type(2):before {content: "Dirección";}
    td:nth-of-type(3):before {content: "Email";}
    td:nth-of-type(4):before {content: "Teléfono";}
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 24px;
    }

    th, td {
        font-size: 16px;
    }
}